<?xml version="1.0"?>
<!--
  Copyright 2024 Heath Stewart.
  Licensed under the MIT License. See LICENSE.txt in the project root for license information.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary Id="DeferredExample" SourceFile="examples\deferred.dll" />
    <CustomAction Id="DeferredExampleCustomAction" BinaryKey="DeferredExample" DllEntry="DeferredExampleCustomAction" />
    <CustomAction Id="DeferredExampleCustomActionDeferred" BinaryKey="DeferredExample" DllEntry="DeferredExampleCustomActionDeferred" Execute="deferred" />
    <InstallExecuteSequence>
      <Custom Action="DeferredExampleCustomAction" After="InstallInitialize" />
    </InstallExecuteSequence>

    <CustomTable Id="DeferredExample">
      <Column Id="Cardinal" Type="int" Category="Integer" Width="2" PrimaryKey="yes" />
      <Column Id="Ordinal" Type="string" Category="LowerCase" Localizable="yes" />
      <Row>
        <Data Column="Cardinal">1</Data>
        <Data Column="Ordinal">first</Data>
      </Row>
      <Row>
        <Data Column="Cardinal">2</Data>
        <Data Column="Ordinal">second</Data>
      </Row>
      <Row>
        <Data Column="Cardinal">3</Data>
        <Data Column="Ordinal">third</Data>
      </Row>
    </CustomTable>
  </Fragment>
</Wix>
